<footer class="section-footer bg-light border-top">
  <div class="container">
    <div class="row py-4">
      <div class="col-md-6">
        <h5>Enlaces rápidos</h5>
        <ul class="list-unstyled">
          <li><a href="">Inicio</a></li>
          <li><a href="ligas">Ligas</a></li>
          <li><a href="marcas">Marcas</a></li>
          <li><a href="sobremi">Sobre mi</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h5>Redes Sociales</h5>
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/?locale=es_ES"><i class="bx bxl-facebook-square"></i> Facebook</a></li>
          <li><a href="https://twitter.com/?lang=es"><i class="bx bxl-twitter"></i> Twitter</a></li>
          <li><a href="https://www.instagram.com/"><i class="bx bxl-instagram"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>