<header class="section-header">
  <section class="header-main border-bottom bg-white">
    <div class="container-fluid">
      <div class="row p-2 pt-3 pb-3 align-items-center">
        <div class="col-12 col-md-3 text-center text-md-start mb-2 mb-md-0">
          <a href=""><img class="img-fluid" src="assets/images/logoCamisetas.png" width="100" alt="Logo"></a>
        </div>
        <div class="col-12 col-md-6 text-center">
          <h1 class="navbar-title">Spain Camisetas</h1>
        </div>
        <div class="col-12 col-md-3 text-center text-md-end d-flex align-items-center justify-content-end">
          <div *ngIf="usuario?.rol?.id==1" class="d-flex align-items-center justify-content-end me-3">
            <span class="shop-bag"><i id="shop-bag-icon" class='bx bxs-shopping-bag'></i></span>
            <div class="d-flex flex-column ms-2">
              <a href="carrito" class="text-decoration-none text-danger">Mi Cesta</a>
            </div>
          </div>
          <div *ngIf="!usuario" class="ms-3">
            <a href="login"><button class="btn btn-danger text-white">Iniciar Sesión</button></a>
          </div>
          <div *ngIf="usuario" class="dropdown ms-3">
            <a class="profile-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img [src]="'data:image/jpeg;base64,' + usuario.foto" alt="Foto de {{ usuario.nombre }}" class="profile-image rounded-circle">
              <span class="profile-name">Mi Perfil</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="profileDropdown">
              <a class="dropdown-item" *ngIf="usuario.rol.id == 1" href="pedidos">Mis Pedidos</a>
              <a class="dropdown-item" *ngIf="usuario.rol.id == 2" href="todosPedidos">Todos los Pedidos</a>
              <a class="dropdown-item" href="micuenta">Mi Cuenta</a>
              <a class="dropdown-item" (click)="cerrarSesion()" id="cerrarSesion">Cerrar Sesión</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" href="">Camisetas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="marcas">Marcas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="ligas">Ligas</a>
          </li>
          <li class="nav-item dropdown" *ngIf="usuario?.rol?.id==2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Gestiones Internas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="gestionMarcas">Gestión Marcas</a>
              <a class="dropdown-item" href="gestionLigas">Gestión Ligas</a>
              <a class="dropdown-item" href="gestionEquipos">Gestión Equipos</a>
              <a class="dropdown-item" href="gestionCamisetas">Gestión Camisetas</a>
            </div>
          </li>
          <li class="nav-item" *ngIf="usuario?.rol?.id==3">
            <a class="nav-link active" href="creacionUsuarios">Crear Usuarios</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>