<main class="main-content">
  <div class="container">
      <section class="presentation">
          <h2 class="mb-3 section-title">Presentación</h2>
          <p>Hola, mi nombre es José Campillo, tengo 20 años y soy de San Carlos del Valle. Acabo de finalizar mi formación profesional en el módulo de Desarrollo de Aplicaciones Web. Me encantaría seguir formándome en el mundo del desarrollo y de la programación.</p>
          <p>Soy una persona apasionada por la tecnología, siempre en busca de nuevos retos y oportunidades para mejorar mis habilidades. Me considero proactivo, autodidacta y con una gran capacidad de adaptación a nuevos entornos y equipos de trabajo.</p>
      </section>
      <section class="curriculum">
          <h2 class="section-title">Currículum</h2>
          <div class="resume-section">
              <h3>Educación</h3>
              <ul>
                  <li>
                      <strong>IES Modesto Navarro</strong><br>
                      Bachillerato - 2020/2022
                  </li>
                  <li>
                      <strong>IES Juan Bosco</strong><br>
                      Desarrollo de Aplicaciones Web - 2022/2024
                  </li>
              </ul>
          </div>
          <div class="resume-section">
              <h3>Experiencia Profesional</h3>
              <ul>
                  <li>
                      <strong>Grupo de Desarrollo y mejora constante del SESCAM</strong><br>
                      FCT - 14/04/2024-21/06/2024<br>
                      <em>En el SESCAM hemos aprendido nuevas tecnologías como Angular, metodos de trabajo como SCRUM y hemos tocado un poco de KEOS.</em>
                  </li>
              </ul>
          </div>
      </section>
      <section class="skills">
          <h2 class="section-title">Habilidades</h2>
          <ul class="list-unstyled">
              <li>Desarrollo web (HTML, CSS, JavaScript, Angular)</li>
              <li>Programación en Java y PHP</li>
              <li>Base de datos (MySQL, Oracle)</li>
              <li>Control de versiones (Git)</li>
              <li>Trabajo en equipo y gestión de proyectos</li>
          </ul>
      </section>
  </div>
</main>