<div class="container">
  <h1 *ngIf="usuario?.rol?.id==2" style="text-align: center;">Bienvenido de nuevo ADMIN</h1>
  <h1 *ngIf="usuario?.rol?.id==3" style="text-align: center;">Bienvenido de nuevo SUPERADMIN</h1>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let camiseta of camisetas | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage">
      <a href="vercamiseta/{{camiseta.id}}" style="text-decoration: none;">
        <div class="card" style="margin-bottom: 20px;">
          <img [src]="'data:image/jpeg;base64,' + camiseta.foto" alt="Foto de {{ camiseta.descripcion }}" class="fotoCamiseta">
          <div class="card-body">
            <h5 class="card-title">{{camiseta.descripcion}}</h5>
            <p class="card-text">Precio: {{camiseta.precio}}€</p>
            <div *ngIf="usuario?.rol?.id==2 || usuario?.rol?.id==3">
              <button class="btn-borrar">Borrar</button>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="pagination">
  <button *ngFor="let page of pages" [class.active]="page === currentPage" (click)="setPage(page)" class="page-button">
    {{ page }}
  </button>
</div>